/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*css reset*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------------------------------------------------cf-------------------------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

@font-face {
	font-family: 'Conv_HEADOH__';
	src: url('../fonts/HEADOH__.eot');
	src: local('☺'), url('../fonts/HEADOH__.woff') format('woff'), url('../fonts/HEADOH__.ttf') format('truetype'), url('../fonts/HEADOH__.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HEADTH__';
	src: url('../fonts/HEADTH__.eot');
	src: local('☺'), url('../fonts/HEADTH__.woff') format('woff'), url('../fonts/HEADTH__.ttf') format('truetype'), url('../fonts/HEADTH__.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.btn:hover{
  
    -webkit-transform:scale(0.99,0.99);
    
}
.movPlace {
    z-index: 500;
}
.waiting{
    /*display: none;*/
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 499;

 
}
.cover{
     background-color: black;
 opacity: 0.7;   
  width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 10;
}
.waitingTextWrap{
   height: 11%;
border: 1px solid #42B2FD;
width: 80%;
color: #42B2FD;
font-size: 37px;
border-radius: 4px;
margin: auto;
margin-top: 30%;
font-family: Conv_HEADOH__;
z-index: 100;
position: relative;
}
.waitingTextWrap span{
    display: inline-block;
}

.waitingTextWrap .dots{
    display: inline-block;
}
/*  play section*/
#play{
    background-image: url('../images/play/border_play.png');
	background-size: 82% 86%;
	background-repeat: no-repeat;
	background-position: 51% 77%;
}
/*   questions section  */
#question{
    position: relative;
}
.questionSubHeader{
   font-family: 'Conv_HEADTH__';

color: white;

   height: 15%;

   width: 100%;

   margin: 9.23% 0% 0 7%;
}
.questionSubHeader .val{
     font-family: 'Conv_HEADOH__';
     padding-left: 7%;
}

.questionSubHeader .total{
   padding-left: 11%;

   width: 27%;
}
.questionSubHeader .value{
    padding-left: 0px;

    width: 26%;
}
.questionSubHeader .time{
    padding-left: 5%;

    width: 20%;
}
.question{
    
    width: 94%;

    height: 21%;
background-size: 100% 100%;
margin: auto;
display: none;
}

#Q1 .question{
    background-image: url('../images/q/Q1.png');
}
.questionWrap{
    top: 35%;

    width: 80%;
margin: auto;

    position: absolute;
    left: 10%;
    height: 56%;
}
.banner{
    width: 94%;

    height: 21%;
background-size: 100% 100%;
margin: auto;

 background-image: url('../images/q/banner.png');
}
.answers{
    /*display: none;*/
    
}

/*================================================================css===================================================*/
html,body{
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
}
body{
	background-image:url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-size:100%;
}
section{
	display:block;
	width:100%;
	height:100%;
	position:relative;
}
.hide{
	display:hide;
}
.show{
	display:block;
}
/*============================================================play====================================================================*/
.home_btn{
	position:absolute;
	width: 6%;
	height: 7%;
	right: 3%;
	top: 1%;
}
.logoPlay{
	display:block;
	background-image:url(../images/play/logo.png);
	position:absolute;
	width: 37%;
	height: 39%;
	background-size: 100% 100%;
	top: 0%;
	left: 32%;
	background-repeat: no-repeat;
}
