/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*css reset*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------------------------------------------------cf-------------------------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
/*================================================================css===================================================*/
html,body{
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
}
body{
	background-image:url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-size:100%;
}
section{
	display:block;
	width:100%;
	height:100%;
	position:relative;
}
.hide{
	display:hide;
}
.show{
	display:block;
}
.movPlace{
	position:absolute;
	width: 530px;
	height: 295px;
	top:90px;
	left:90px;
	border-radius:10px;
	border: solid 12px #1f59a2;
	display:none;
	overflow: hidden;
}
video{
	width:530px; 
	height:370px;
	position:absolute;
	top:-35px;
}

/*---------------------------------------------------home------------------------------------------------*/
 span{
	background-image:url(../images/home/main.png);
	background-repeat:no-repeat;
	width:1113px;
	height:869px;
	position:absolute;
	display:block;
	top:130px;
	left:440px;
}
#home img{
	position:absolute;
}
.playBtn{
	top:1000px;
	left:655px;	
}
.introBtn,.play24Btn,.leadBtn{
	top:1260px;
}
.introBtn{
	left:260px;
}
.play24Btn{
	left:794px;
}
.leadBtn{
	left:1345px;
}


