/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*css reset*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------------------------------------------------cf-------------------------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
@font-face {
	font-family: 'Conv_HEADOH__';
	src: url('../fonts/HEADOH__.eot');
	src: local('☺'), url('../fonts/HEADOH__.woff') format('woff'), url('../fonts/HEADOH__.ttf') format('truetype'), url('../fonts/HEADOH__.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_HEADTH__';
	src: url('../fonts/HEADTH__.eot');
	src: local('☺'), url('../fonts/HEADTH__.woff') format('woff'), url('../fonts/HEADTH__.ttf') format('truetype'), url('../fonts/HEADTH__.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.btn:hover{

opacity:0.75 !important;
}
/*  play section*/
#play {
	background-image: url('../images/bgAll.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/*   questions section  */
#question {
	position: relative;
}
.questionSubHeader {
	font-family: 'Conv_HEADTH__';
	color: white;
	height: 15%;
	width: 100%;
	top: 16%;
	position: absolute;
	left: 10%;
}
.questionSubHeader .val {
	font-family: 'Conv_HEADOH__';
	padding-left: 7%;
}
.questionSubHeader .total {
	padding-left: 11%;
	width: 27%;
}
.questionSubHeader .value {
	padding-left: 0px;
	width: 26%;
}
.questionSubHeader .time {
	padding-left: 5%;
	width: 20%;
}
.question {
	width: 94%;
	height: 21%;
	background-size: 100% 100%;
	margin: auto;
	display: none;
}
.questionWrap {
	top: 35%;
	width: 80%;
	position: absolute;
	left: 10%;
	height: 56%;
}
.banner {
	width: 94%;
	height: 21%;
	background-size: 100% 100%;
	margin: auto;
	background-image: url('../images/q/banner.png');
}
/*================================================================css===================================================*/
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
body {
/*background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;*/
}
section {
	width: 100%;
	height: 100%;
	position: relative;
}
#play, #share {
	display: none;
}
#home {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.hide {
	display: hide;
}
.show {
	display: block;
}
/*============================================================play====================================================================*/
.home_btn {
	position: absolute;
	width: 6%;
	height: 7%;
	right: 3%;
	top: 1%;
	z-index: 9;
}
.logoPlay {
	display: block;
	background-image: url(../images/play/logo.png);
	position: absolute;
	width: 26%;
	height: 29%;
	background-size: 100% 100%;
	top: 4%;
	left: 5%;
	background-repeat: no-repeat;
}
.filper {
	width: 93%;
	height: 21%;
	top: 30%;
	position: absolute;
	-webkit-perspective: 1000;
	perspective: 1000;
	margin-left: 3%;
	-webkit-perspective: 1000;
}
#card {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1s ease-in-out;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
}
#card.flop {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
.question {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	height: 100%;
	-webkit-transform: rotateX(-180deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: rotateX(-180deg);
	width: 100%;
	display: none;
}
.question.show, answer.show {
	display: block;
}
.banner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	width: 100%;
	height: 100%;
	-webkit-transform: rotateX(0deg);
	-webkit-backface-visibility: hidden;
	transform: rotateX(0deg);
	transform-style: preserve-3d;
	backface-visibility: hidden;
}
.filper.filp .question {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.filper.filp .banner {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
#Q1 {
	background-image: url('../images/q/Q1.png');
}
#Q2 {
	background-image: url('../images/q/Q2.png');
}
#Q3 {
	background-image: url('../images/q/Q3.png');
}
#Q4 {
	background-image: url('../images/q/Q4.png');
}
#Q5 {
	background-image: url('../images/q/Q5.png');
}
.answers {
	position: absolute;
	width: 100%;
	height: 41%;
	top: 55%;
	z-index: 3;
}
.coverAnswer {
	position: absolute;
	width: 100%;
	height: 41%;
	top: 55%;
	z-index: 5;
}
.answer {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
	-webkit-perspective: 1000;
	perspective: 1000;
}
.result {
/*display: none;*/
}
.answerFilp {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1s ease-in-out;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
}
.answerFilp.pos1 {
	width: 44%;
	height: 44%;
	position: absolute;
	left: 6%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1s ease-in-out;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.answerFilp.pos1.openA, .answerFilp.pos2.openA, .answerFilp.pos3middle.openA, .answerFilp.pos3.openA, .answerFilp.pos4.openA {
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}
.answerFilp.pos1.openP, .answerFilp.pos2.openP, .answerFilp.pos3middle.openP, .answerFilp.pos3.openP, .answerFilp.pos4.openP {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
}
.result {
	display: none;
}
.openP .result {
	display: block;
}
.answerFilp.pos2 {
	width: 44%;
	height: 44%;
	position: absolute;
	left: 50%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1s ease-in-out;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
}
.answerFilp.pos3middle {
	width: 44%;
	height: 44%;
	position: absolute;
	left: 29%;
	top: 45%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1s ease-in-out;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
}
.answerFilp.pos3 {
	width: 44%;
	height: 44%;
	position: absolute;
	left: 6%;
	top: 45%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1s ease-in-out;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
}
.answerFilp.pos4 {
	width: 44%;
	height: 44%;
	position: absolute;
	left: 50%;
	top: 45%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1s ease-in-out;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
}
.firstAns {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	z-index: 100;
}
.result {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}
.firstAns {
	-webkit-transform: rotateX(90deg);
	-webkit-backface-visibility: hidden;
	transform: rotateX(90deg);
	backface-visibility: hidden;
}
.result {
	-webkit-transform: rotateX(-96deg);
	-webkit-backface-visibility: hidden;
	transform: rotateX(-96deg);
	backface-visibility: hidden;
}
#ans1 .pos1 .firstAns {
	background-image: url(../images/q/Q1_A1.png);
}
#ans1 .pos1 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q1_A1.png);
}
#ans1 .pos1 .result {
	background-image: url(../images/q/Q1_A1_p.png);
}
#ans1 .pos2 .firstAns {
	background-image: url(../images/q/Q1_A2.png);
}
#ans1 .pos2 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q1_A2.png);
}
#ans1 .rightAnsp {
	background-image: url(../images/q/Q1_rightanswer.png);
}
/*--------------------answer2-------------------------*/
#ans2 .pos1 .firstAns {
	background-image: url(../images/q/Q2_A1.png);
}
#ans2 .pos1 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q2_A1.png);
}
#ans2 .pos1 .result {
	background-image: url(../images/q/Q2_A1_p.png);
}
#ans2 .pos2 .firstAns {
	background-image: url(../images/q/Q2_A2.png);
}
#ans2 .pos2 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q2_A2.png);
}
#ans2 .pos2 .result {
	background-image: url(../images/q/Q2_A2_p.png);
}
#ans2 .pos3middle .firstAns {
	background-image: url(../images/q/Q2_A3.png);
}
#ans2 .pos3middle .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q2_A3.png);
}
#ans2 .rightAnsp {
	background-image: url(../images/q/Q2_rightanswer.png);
}
/*--------------------answer3-------------------------*/
#ans3 .pos1 .firstAns {
	background-image: url(../images/q/Q3_A1.png);
}
#ans3 .pos1 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q3_A1.png);
}
#ans3 .pos1 .result {
	background-image: url(../images/q/Q3_A1_p.png);
}
#ans3 .pos2 .firstAns {
	background-image: url(../images/q/Q3_A2.png);
}
#ans3 .pos2 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q3_A2.png);
}
#ans3 .pos2 .result {
	background-image: url(../images/q/Q3_A2_p.png);
}
#ans3 .pos3 .firstAns {
	background-image: url(../images/q/Q3_A3.png);
}
#ans3 .pos3 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q3_A3.png);
}
#ans3 .pos4 .firstAns {
	background-image: url(../images/q/Q3_A4.png);
}
#ans3 .pos4 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q3_A4.png);
}
#ans3 .pos4 .result {
	background-image: url(../images/q/Q3_A4_p.png);
}
#ans3 .rightAnsp {
	background-image: url(../images/q/Q3_rightanswer.png);
}
/*--------------------answer4-------------------------*/
#ans4 .pos1 .firstAns {
	background-image: url(../images/q/Q4_A1.png);
}
#ans4 .pos1 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q4_A1.png);
}
#ans4 .pos1 .result {
	background-image: url(../images/q/Q4_A1_p.png);
}
#ans4 .pos2 .firstAns {
	background-image: url(../images/q/Q4_A2.png);
}
#ans4 .pos2 .firstAns.disabel {
    background-image: url(../images/q/disable.png),url(../images/q/Q4_A2.png);
}
#ans4 .pos3 .firstAns {
	background-image: url(../images/q/Q4_A3.png);
}
#ans4 .pos3 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q4_A3.png);
}
#ans4 .pos3 .result {
	background-image: url(../images/q/Q4_A3_p.png);
}
#ans4 .pos4 .firstAns {
	background-image: url(../images/q/Q4_A4.png);
}
#ans4 .pos4 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q4_A4.png);
}
#ans4 .pos4 .result {
	background-image: url(../images/q/Q4_A4_p.png);
}
#ans4 .rightAnsp {
	background-image: url(../images/q/Q4_rightanswer.png);
}
/*--------------------answer5-------------------------*/
#ans5 .pos1 .firstAns {
	background-image: url(../images/q/Q5_A1.png);
}
#ans5 .pos1 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q5_A1.png);
}
#ans5 .pos1 .result {
	background-image: url(../images/q/Q5_A1_p.png);
}
#ans5 .pos2 .firstAns {
	background-image: url(../images/q/Q5_A2.png);
}
#ans5 .pos2 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q5_A2.png);
}
#ans5 .pos2 .result {
	background-image: url(../images/q/Q5_A2_p.png);
}
#ans5 .pos3 .firstAns {
	background-image: url(../images/q/Q5_A3.png);
}
#ans5 .pos3 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q5_A3.png);
}
#ans5 .pos4 .firstAns {
	background-image: url(../images/q/Q5_A4.png);
}
#ans5 .pos4 .firstAns.disabel {
	background-image: url(../images/q/disable.png), url(../images/q/Q5_A4.png),;
}
#ans5 .pos4 .result {
	background-image: url(../images/q/Q5_A4_p.png);
}
#ans5 .rightAnsp {
	background-image: url(../images/q/Q5_rightanswer.png);
}
/*=======================================================waiting============================================*/
#waitingScreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,.6);
	;
	display: none;
}
.waitingTextWrap {
	height: 11%;
	border: 1px solid #42B2FD;
	width: 80%;
	color: #42B2FD;
	font-size: 37px;
	border-radius: 4px;
	margin: auto;
	margin-top: 30%;
	font-family: Conv_HEADOH__;
	z-index: 100;
	position: relative;
	background-color: #000;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: box;
	box-pack: center;
	box-align: center;
}
.waitingTextWrap span {
	display: inline-block;
}
.waitingTextWrap .dots {
	display: inline-block;
}
/*==================================================share===================================================*/
#share {
	background-image: url('../images/play/border_play.png');
	background-size: 82% 86%;
	background-image: url('../images/share_bg_gif.gif');
	background-size: 100% 100%;
	background-repeat: no-repeat;/*background-position: 51% 77%;*/
}
#share .logoPlay {
	display: block;
	background-image: url(../images/play/logo.png);
	position: absolute;
	width: 21%;
	height: 25%;
	background-size: 100% 100%;
	top: 1%;
	left: 2%;
	background-repeat: no-repeat;
}
.camera {
	width: 28%;
	height: 28%;
	position: absolute;
	background: #fff;
	top: 25%;
	left: 36%;
}
.contect {
	width: 69%;
	height: 38%;
	position: absolute;
	top: 56%;
	left: 15%;
}
.continue {
	background-image: url(../images/continue.png);
	background-repeat: no-repeat;
	width: 44%;
	height: 24%;
	background-size: 100% 100%;
	position: absolute;
	left: 28%;
	top: 51%;
}
.shareScore {
	background-image: url(../images/share.png);
}
.exit {
	background-image: url(../images/exit.png);
	background-repeat: no-repeat;
	width: 26%;
	height: 17%;
	background-size: 100% 100%;
	position: absolute;
	top: 77%;
	left: 35%;
}
/*------------------------------risk page-------------------------*/
.riskPage {
	display: none;
	position: absolute;
	top: 37%;
	left: 5%;
	width: 90%;
	background-image: url(../images/risk/riskbar_1.png);
	height: 20%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.riskVal {
	font-family: Conv_HEADOH__;
	position: absolute;
	color: #fff;
}
.riskPage>.continue {
	background-image: url(../images/continue.png);
	background-repeat: no-repeat;
	width: 44%;
	height: 82%;
	background-size: 100% 100%;
	position: absolute;
	left: 28%;
	top: 131%;
}
input[type="range"] {
	width: 71.5%;
	position: absolute;
	top: 37%;
	left: 12.5%;
	/*background-image: url(../images/risk/riskPpint.png);
	background-position: 65.45% -50px;
	background-repeat: no-repeat;
	height: 22.5%;
	border-radius: 58px;
	-webkit-appearance: none;*/
}
.secretGoToShare {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100px;
	height: 100px;
}
.active {
	opacity: 0.65;
}
